@model EditViewModel

<h1>Create Shortlink</h1>

<form method="post">
    <div class="input-group-sm col-sm-">
        <label>Long URL</label>
        <input type="text" name="LongURL" class="form-control" />
    </div>
    <div class="input-group-sm col-sm-">
        <label>Short URL</label>
        <input type="text" name="ShortURL" class="form-control" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>
